body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(img/img-fundo.svg);
    background-size: cover;
}
.container {
    text-align: center;
}

h1 {
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    margin-bottom: 20px;
}


.main-image img {
    width: 800px;
    height: 600px;
    margin-bottom: 20px;
    transition: opacity 0.5s;
    border: 1px black solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.thumbnails img {
    width: 100px;
    height: 80px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.2s;
    border: 1px black solid;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.thumbnails img:hover {
    transform: scale(1.1);
}
